<div>
  <form [formGroup]="searchMusicForm" style="display: flex;justify-content: center;margin-top: 0.2em;" *ngIf="showSearch">
    <mat-form-field class="example-form-field" appearance="outline" style="width: 90%;padding:0 1em;">
      <mat-label>Search ..</mat-label>
      <input matInput type="text" [(ngModel)]="searchText" formControlName="searchField">
      <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div>
    <ag-grid-angular
    style="width: 100%;"
    class="ag-theme-balham-dark"
    [rowHeight]="50"
    [rowData]="searchData"
    [domLayout]="'autoHeight'"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    [defaultColDef]="defaultColumnDef"
    [context]="this">
    </ag-grid-angular>
  </div>
</div>
