<mat-card class="post-style">
  <div style="display: flex;">
    <div class="user-avatar">
      <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
        <mat-icon>person</mat-icon>
      </button>
    </div>
    <div class="user-name-and-date">
      <div class="user-name">{{postInfo.username}}</div>
      <div class="post-date">{{postInfo.createdDate}}</div>
    </div>
  </div>
  <div class="post-text" *ngIf="postInfo.text">
    {{postInfo.text}}
  </div>
  <div class="post_image" *ngIf="postInfo.imageSrc">
    <div [ngStyle]="{'background-image':'url(' + postInfo.imageSrc + ')'}" class="post_image_config"></div>
  </div>
  <div class="like-comment-style">
    <div class="like-comment-style">
      <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>thumb_up_off_alt</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>chat_bubble_outline</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" style="transform: rotateY(180deg);">
        <mat-icon>reply</mat-icon>
      </button>
    </div>
    <div class="like-comment-style-count">
      <div class="likes">{{postInfo.likes?.length}} likes</div>
      <div class="comment">{{postInfo.comments?.length}} comments</div>
      <div class="share">Share</div>
    </div>
  </div>
</mat-card>
