<div class="modify-style">
  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="album-style">
        <ng-template matStepLabel>Fill out album info</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Album Name</mat-label>
          <input
            matInput
            placeholder="Album Name"
            formControlName="albumName"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Creator Name</mat-label>
          <input
            matInput
            placeholder="Creator Name"
            formControlName="creatorName"
          />
        </mat-form-field>
        <div>
          <button
            mat-button
            color="primary"
            matStepperNext
            (click)="createAlbum()"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" class="uploading-section">
        <ng-template matStepLabel>Upload all songs</ng-template>
        <input
          formControlName="upload"
          type="file"
          multiple
          (change)="fileSelectionChanged($event)"
        />
        <p style="opacity: 0.3">Note: other than mp3 file will be filtered.</p>
        <div *ngFor="let item of selectedFiles">
          <div class="extension">
            <div class="extension-style">
              {{ item.name!.substring(item.name.lastIndexOf(".") + 1) }}
            </div>
            <div class="music-detail">
              <div>{{ item.name }}</div>
              <div>{{ (item.size / 1024 / 1024).toFixed(2) }} MB</div>
            </div>
            <button
              mat-icon-button
              color="primary"
              (click)="removeSelected(item)"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </div>
        <div>
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button mat-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button color="primary" matStepperPrevious>Back</button>
        <button mat-button color="primary" (click)="stepper.reset()">
          Reset
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
