<!-- {{ state | json }} -->
<section class="controls">
  <div class="album-details">
    <img src="" alt="album-art" />
    <div class="album-title-desc">
      <h3>{{currentSongPlaying?.musicName}}</h3>
      <h5>album description</h5>
    </div>
  </div>
  <div class="player-control">
    <div class="player-control-buttons">
      <button mat-icon-button color="primary" (click)="previous()" [disabled]="!state.canplay">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="play()" [disabled]="!state.canplay">
        <mat-icon *ngIf="!state?.playing"> play_arrow </mat-icon>
        <mat-icon *ngIf="state?.playing"> pause </mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="next()" [disabled]="!state.canplay">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <div class="slider-style">
      <h4>{{state.readableCurrentTime}}</h4>
      <mat-slider style="width: 100%;" color="primary" [disabled]="!state.canplay"
        [displayWith]="formatLabel"
        step="0.00001"
        min="0.000"
        [max]="state?.duration"
        [(ngModel)]="state.currentTime"
        (change)="onSliderChangeEnd($event)"
      ></mat-slider>
      <h4>{{state.readableDuration}}</h4>
    </div>
  </div>
  <div class="volume-and-othercontrols"></div>
</section>
