<!-- {{ state | json }} -->
<section class="controls" *ngIf="currentSongPlaying">
  <div class="album-details">
    <img src="assets/imgs/album-art.png" alt="album-art" class="album-art"/>
    <div class="album-title-desc">
      <h3>{{currentSongPlaying?.musicName}}</h3>
      <h5>album description</h5>
    </div>
  </div>
  <div class="player-control">
    <div class="player-control-buttons">
      <button mat-icon-button color="primary" (click)="previous()" [disabled]="!state.canplay">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="play()" [disabled]="!state.canplay">
        <mat-icon *ngIf="!state?.playing"> play_arrow </mat-icon>
        <mat-icon *ngIf="state?.playing"> pause </mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="next()" [disabled]="!state.canplay">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <div class="slider-style">
      <h4>{{state.readableCurrentTime}}</h4>
      <mat-slider style="width: 100%;" color="primary" [disabled]="!state.canplay"
        [displayWith]="formatLabel"
        step="1"
        min="0"
        [max]="state?.duration"
        [value]="state?.currentTime"
        (input)="onSliderChangeEnd($event)"
      ></mat-slider>
      <h4>{{state.readableDuration}}</h4>
    </div>
  </div>
  <div class="volume-and-othercontrols"></div>
</section>
