.controls {
  display: flex;
  width: 90%;
  align-items: center;
  .album-details {
    display: flex;
    .album-title-desc {
      margin-left: 1em;
      width: 30em;
    }
    .album-art {
      width: 4em;
      height: 4em;
    }
  }
  .player-control {
    width: 40%;
    .player-control-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .slider-style {
      display: flex;
      align-items: end;
    }
  }
}

:host {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #2f2f2f;
  padding: 0.5em;
  z-index: 1;
}
