.video-collection {
  display: flex;
  gap: 1em;
  width: 44em;
  overflow: hidden;
  margin-top: 2em;
  overflow-x: auto;
  padding: 0 0.5em;
  .video-style {
    position: relative;
    cursor: pointer;
    img {
      width: 15em;
    }
    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 3em;
      color: black;
      height: auto;
      opacity: 0;
      background: white;
      transition: all 0.1s ease-in-out;
      box-shadow: 0px 0px 0px 0px transparent;
      width: auto;
      border-radius: 50%;
    }
    .video-info {
      position: absolute;
      bottom: 0.8em;
      color: black;
      left: 0.5em;
      background: white;
      border-radius: 1em;
      padding: 0 0.5em;
    }
  }
  .video-style:hover .play-icon{
    opacity: 1;
    box-shadow: -1px 1px 20px 10px #000000bd;
  }
}
