<p>password-gen</p>
<mat-form-field appearance="fill">
  <mat-label>Font size</mat-label>
  <input matInput type="number" placeholder="Ex. 12" [(ngModel)]="lengthOfPass" min="10" (change)="generatorLogic()">
</mat-form-field>
<div *ngFor="let item of allowedPasswordGen">
  <mat-checkbox [(ngModel)]="item.allowed" color="primary" (change)="generatorLogic()">
    {{ item.type }}
  </mat-checkbox>
</div>

<div style="display: flex;align-items: baseline;">
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="copyPass()">
    <mat-icon>content_copy</mat-icon>
  </button>
  <h3>{{finalString}}</h3>
</div>
