$screen-lg-min: 1200px;
  $screen-md-max: $screen-lg-min - 1;
  $screen-md-min: 992px;
  $screen-sm-max: $screen-md-min - 1;
  $screen-sm-min: 768px;
  @mixin sm {
    @media (max-width: #{$screen-sm-min}) {
      @content;
    }
  }

  // Medium devices
  @mixin md {
    @media (min-width: #{$screen-md-min}) {
      @content;
    }
  }

  // Large devices
  @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
      @content;
    }
  }

  // Extra large devices
  @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
      @content;
    }
  }
.toolbar {

  $branding-color: #1877f2;
  .toolbar-color {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
  .left-set {
    display: flex;
    max-width: 25%;
    align-items: center;
    @include sm{
      display: none;
    }
    .search-field-wrapper{
        display: flex;
        align-items: center;
        background-color: #f0f2f5;
        border-radius: 20px;
        padding: 0.5em;
        margin-left: 1em;
      .search-field {
        outline-style: none;
        border: none;
        background-color: #f0f2f5;
      }
    }
  }
  .middle-set {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    button {
      width: 6em;
      border-radius: 8px;
      margin:0.2em;
      mat-icon {
        font-size: 2em;
      }
    }
    .router-link-button {
      border-radius: 0;
      border-bottom: 4px solid $branding-color;
      mat-icon {
        color: $branding-color;
      }
    }
    button:hover {
      background-color: #8080801f;
    }
  }

  .right-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 25%;
    @include sm{
      display: none;
    }
    .profile{
      background-color: #f1f2f5;
      padding: 0.2em;
      padding-right: 0.5em;
      border-radius: 20px;
      margin: 0.1em;
      div{
        display: flex;
        align-items: center;
        font-size: 0.8em;
      }
    }
    button {
      background-color: #8080801f;
      margin: 0.1em;
    }
  }
}

.mid-sec {
  display: flex;
  flex-direction: row;

  .side-left {
    width: 20%;
    @include sm{
      display: none;
    }
  }
  .mid {
    width: 60%;
    display: flex;
    justify-content: center;
    @include sm{
      width: 80%;
      justify-content: inherit;
    }
  }
  .side-right {
    width: 20%;
    display: flex;
    justify-content: center;
    @include sm{
      display: none;
    }
  }
}
