
nav{
  $background-base: #121212;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);

  mat-icon{
    font-size: 2em;
  }

  .arrows{
    margin-left: 0.5em;
    display: flex;
    mat-icon{
      margin-left: 0.5em;
    }
  }
  .profile{
    margin-right: 1em;
    display: flex;
    align-items: center;
    background-color: $background-base;
    padding: 0.2em 0em;
    border-radius: 30px;
    .profile-name{
      margin-left: 0.8em;
      font-style: normal;
      font-weight: 100;
      font-size: 1.2em;
    }
  }
}
